 h1{
    font-family: 'Bebas Neue', cursive;
}
#black{
    color: black;
}
.navbar-brand img{
    width: 200px;
}
.first-container{
    background-color: #fffbf0;
    border-radius: 10px;
}
h1{
    color: gold;

}
h2{
     color: rgb(243, 183, 30);
}
.shadow img{
    width: 60%;
    
}
.shadow{
    border: 0;
}
.card img{
    height: 150px;
    width: 150px;
    background-color: whitesmoke;
}
.dress-card{
    border-radius: 20px;
}
